/*Common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header a{
    padding-right: 30px;
    font-size: 13px;
    vertical-align: middle;
}

.btnblue{
    background-color: blue;
    padding: 10px 15px;
    color: white;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px ;
    font-size: 15px;
}

p{
    font-size: 15px;
}

ul{
    list-style-type: none;
}

.bluetag{
    color: blue;
    text-decoration: underline;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    display: inline-block;
    padding-bottom: 30px;
}

ul li{
    padding-bottom: 10px;
    font-size: 15px;
}

.small-text{
    font-size: 13px;
}

/*header*/
header{
    padding: 10px 5px;
}

.headerlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}


.list{
    padding: 10px;
}

.logo{
   height: 20px;
}

/*main-jumbotron*/
.jumbotron{
    background-color: lightblue; 
    height: auto; 
}

.container-big{
    width: 80%;
    margin: 0 auto;
}

h1{
    font-size: 63px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.content{
    position: relative;
    height: 350px;
}

.leftbox{
    width: 400px;
    height: 500px;
    
}

.leftbox p{
    padding-bottom: 35px;
}

.rightbox{
    width: auto;
    height: 450px;
    padding-top: 40px;
    position: absolute;
    bottom: -60px;
    right: -90px;
    
}

/*main-content*/

/*second-title*/
.container-small{
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
}

h2{
    padding-top: 100px;
    padding: 30px;
}

.circle{
    border: 1px solid;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: grey;
    vertical-align: middle;
}

.blue{
    border-color: blue;
    border-width: 3px;
}

/*main-columns*/

.column{
    border: 1px solid;
    width: 600px;
    height: 700px;
    margin-right: 50px;
    
}

.col{
    padding: 15px 20px;
}

.grey{
    color: grey;
    padding-bottom: 20px;
}

.strong{
    font-weight: 800;
}

.line{
    margin: 20px 80px;

}
    
.icon{
    font-size: 12px;
} 

.icon-small{
    font-size: 10px;
}

.i-blue{
    color: blue;
}

/*enterprise*/

.contact{
    width: 940px;
    height: 210px;
    border: 1px solid;
    
}

.boxes{
    display: flex;
}

.text-box{
    width: 75%;
    height: auto;
}

.btn-box{
    width: 25%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*partners*/

.text-part{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.partner{
    width: 550px;
    height: auto;
    margin-right: 65px;
}

.btnwhite{
    border: 1px solid;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px ;
    font-size: 15px;
}

/*actions*/
.square{
    border: 1px solid;
    width: calc (100% / 3);
    height: 300px;
}

.actions{
    display: flex;
    flex-direction: row;
}




