/*Common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header a{
    padding-right: 30px;
    font-size: 13px;
    vertical-align: middle;
}

.btnblue{
    background-color: blue;
    padding: 5px 15px;
    color: white;
}

/*header*/
header{
    padding: 20px 5px;
}

.headerlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}


.list{
    padding: 10px;
}

.logo{
   height: 20px;
}

/*main-jumbotron*/
/*test*/
.jumbotron{
    background-color: lightcoral;
    display: flex;
    justify-content: center;
}

.content{
    /*display: flex;
    justify-content: flex-start;*/
}

.leftbox{
    width: 400px;
    height: 400px;
    border: 1px solid;
}

.rightbox{
    width: 600px;
    height: 400px;
    border: 1px solid;
}