/*Common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header a{
    padding-right: 30px;
    font-size: 13px;
    vertical-align: middle;
}

.btnblue{
    background-color: blue;
    padding: 10px 15px;
    color: white;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px ;
    font-size: 15px;
}

p{
    font-size: 15px;
}

ul{
    list-style-type: none;
}

.bluetag{
    color: blue;
    text-decoration: underline;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    display: inline-block;
    padding-bottom: 30px;
}

ul li{
    padding-bottom: 10px;
    font-size: 15px;
}

.small-text{
    font-size: 13px;
}

/*header*/
header{
    padding: 10px 5px;
}

.headerlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}


.list{
    padding: 10px;
}

.logo{
   height: 20px;
}

/*main-jumbotron*/
.jumbotron{
    background-color: lightblue; 
    height: auto; 
}

.container-big{
    width: 80%;
    margin: 0 auto;
}

h1{
    font-size: 63px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.content{
    position: relative;
    height: 350px;
}

.leftbox{
    width: 400px;
    height: 500px;
    
}

.leftbox p{
    padding-bottom: 35px;
}

.rightbox{
    width: auto;
    height: 450px;
    padding-top: 40px;
    position: absolute;
    bottom: -60px;
    right: -90px;
    
}

/*main-content*/

/*second-title*/
.container-small{
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 40px;
}

h2{
    padding-top: 100px;
    padding: 30px;
}

.circle{
    border: 1px solid;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: grey;
    vertical-align: middle;
}

.blue{
    border-color: blue;
    border-width: 3px;
}

.padd-text{
    padding-left: 20px;
}

/*main-columns*/

.column{
    border: 1px solid;
    width: 600px;
    height: 750px;
    margin-right: 50px;
    margin-bottom: 30px;
    
}

.col{
    padding: 15px 20px;
}

.grey{
    color: grey;
    padding-bottom: 20px;
}

.strong{
    font-weight: 800;
}

.line{
    margin: 20px 90px;

}
    
.icon{
    font-size: 12px;
} 

.icon-small{
    font-size: 10px;
}

.i-blue{
    color: blue;
}

ul h4{
    padding-bottom: 15px;
}

/*enterprise*/

.contact{
    width: 940px;
    height: 210px;
    border: 1px solid;
    
}

.boxes{
    display: flex;
}

.text-box{
    width: 75%;
    height: auto;
}

.btn-box{
    width: 25%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*partners*/

.text-part{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.partner{
    width: 550px;
    height: auto;
    margin-right: 65px;
}

.btnwhite{
    background-color: white;
    border: 1px solid;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px ;
    font-size: 15px;
}

/*actions*/
.square{
    width: calc(100% / 3);
    height: 400px;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}

.actions{
    display: flex;
    flex-wrap: wrap;
}

.img-act{
    width: auto;
    height: 200px;
    padding-left: 20px;
}

.underline{
    text-decoration: underline;
}

h3{
    padding-bottom: 30px;
}

/*members*/

.members{
    height: 400px;
    display: flex;
}

.member-logos{
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.member-text{
    background-color: rgb(245, 245, 245);
    width: 40%;
    padding-left: 40px;
    padding-top: 40px;
}

.member-box{
    width: 200px;
    height: 200px;
    border: 1px solid;
}

.member-box img{
    width: 100px;
    filter: invert(1);
}

/*box-colours*/
.back-green{
    background-color: rgb(143, 224, 154);
}

.back-azure{
    background-color: rgb(0, 133, 208);
}

.back-bordeaux{
    background-color: rgb(105, 0, 43);
}

.back-red{
    background-color: rgb(255, 0, 0);
}

.back-darkred{
    background-color: rgb(227, 0, 0);
}

.back-violet{
    background-color: rgb(47, 0, 130);
}

.back-lightblue{
    background-color:rgb(177, 203, 232) ;
}

.back-yellow{
    background-color:rgb(252, 232, 9) ;
}

/*members-text*/

.member-text img{
    width: 100px;
}

.small-line{
    margin: 20px 200px;
}

.space{
    margin-top: 40px;
}

/*business*/

.business{
    background-color: rgb(177, 203, 232);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.business-text{
    width: 350px;
}

.business-btn{
    border-color: white;
}
