/*Common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header a{
    padding-right: 30px;
    font-size: 13px;
    vertical-align: middle;
}

.btnblue{
    background-color: blue;
    padding: 5px 15px;
    color: white;
    display: inline-block;
}

/*header*/
header{
    padding: 20px 5px;
}

.headerlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}


.list{
    padding: 10px;
}

.logo{
   height: 20px;
}

/*main-jumbotron*/
.jumbotron{
    background-color: lightblue; 
    height: auto; 
}

.container-big{
    width: 80%;
    margin: 0 auto;
}

h1{
    font-size: 63px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.content{
    position: relative;
    height: 350px;
}

.leftbox{
    width: 400px;
    height: 500px;
    
}

.leftbox p{
    padding-bottom: 35px;
}

.rightbox{
    width: auto;
    height: 450px;
    padding-top: 40px;
    position: absolute;
    bottom: -60px;
    right: -90px;
    
}

/*main-content*/

/*second-title*/
.container-small{
    width: 70%;
    margin: 0 auto;
    background-color: pink;
}

h2{
    padding-top: 40px;
}

.circle{
    border: 1px solid;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: grey;
}

.blue{
    border-color: blue;
    border-width: 3px;
}

/*main-columns*/

.column{
    border: 1px solid;
    width: 200px;
    height: 500px;
}

